<div class="loader">
  <img src="assets/images/spin.gif" class="img-fluid" />
</div>

<!--  START BASIC HEADER -->

<header class="site-header">
  <div class="middle-header">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="logo">
            <a href="index.html">
              <img
                src="assets/images/logo_amazon.png"
                alt="logo"
                class="img-fluid"
              />
            </a>
          </div>
        </div>
        <div class="col-9">
          <form action="">
            <div class="search-box">
              <div class="filter-box">
                <span id="result"> Shop by category </span>
              </div>
              <input type="text" placeholder="what are you looking for" />
              <button class="btn-search" type="submit">
                <i class="icofont-search"></i>
              </button>
            </div>

            <div class="search-categ">
              <div class="head">
                <div class="expand">Expand All</div>
                <div class="colapse">Collapse All</div>
              </div>
              <ul>
                <li>
                  <p>
                    <span class="plus"></span>
                    <input
                      id="1"
                      value="Jewelry"
                      type="checkbox"
                      onclick="myCatSelect(this)"
                    />Jewelry
                  </p>
                  <ul>
                    <li>
                      <p>
                        <span class="plus"></span>
                        <input
                          id="2"
                          value="Necklaces"
                          type="checkbox"
                          onclick="myCatSelect(this)"
                        />
                        Necklaces
                      </p>
                      <ul>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="3"
                              value="Necklaces"
                              onclick="myCatSelect(this)"
                            />
                            Beaded Necklaces
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="4"
                              value="Pendants"
                              onclick="myCatSelect(this)"
                            />
                            Pendants
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="5"
                              value="Necklaces"
                              onclick="myCatSelect(this)"
                            />
                            Necklaces
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="6"
                              value="Charm Necklaces"
                              onclick="myCatSelect(this)"
                            />
                            Charm Necklaces
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p>
                        <span class="plus"></span
                        ><input
                          type="checkbox"
                          id="6"
                          value="Earrings"
                          onclick="myCatSelect(this)"
                        />
                        Earrings
                      </p>
                      <ul>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="7"
                              value="Hoop Earrings"
                              onclick="myCatSelect(this)"
                            />
                            Hoop Earrings
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="8"
                              value="Stud Earrings"
                              onclick="myCatSelect(this)"
                            />
                            Stud Earrings
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="9"
                              value="Chandelier Earrings"
                              onclick="myCatSelect(this)"
                            />
                            Chandelier Earrings
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="10"
                              value="Cluster Earrings"
                              onclick="myCatSelect(this)"
                            />
                            Cluster Earrings
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="11"
                          value="Brooches"
                          onclick="myCatSelect(this)"
                        />
                        Brooches
                      </p>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="12"
                          value="Bracelets"
                          onclick="myCatSelect(this)"
                        />
                        Bracelets
                      </p>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="13"
                          value="Rings"
                          onclick="myCatSelect(this)"
                        />
                        Rings
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p>
                    <span class="plus"></span>
                    <input
                      type="checkbox"
                      id="11"
                      value="Brooches"
                      onclick="myCatSelect(this)"
                    />
                    Sports
                  </p>
                  <ul>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="12"
                          value="Football"
                          onclick="myCatSelect(this)"
                        />
                        Football
                      </p>
                      <ul>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="13"
                              value="Nike"
                              onclick="myCatSelect(this)"
                            />
                            Nike
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="14"
                              value="Puma"
                              onclick="myCatSelect(this)"
                            />
                            Puma
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="15"
                              value="Adidas"
                              onclick="myCatSelect(this)"
                            />
                            Adidas
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p><input type="checkbox" /> Football</p>
                      <ul>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="16"
                              value="Nike"
                              onclick="myCatSelect(this)"
                            />
                            Nike
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="17"
                              value="Puma"
                              onclick="myCatSelect(this)"
                            />
                            Puma
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="18"
                              value="Adidas"
                              onclick="myCatSelect(this)"
                            />
                            Adidas
                          </p>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="19"
                          value="Adidas"
                          onclick="myCatSelect(this)"
                        />
                        Football
                      </p>
                      <ul>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="20"
                              value="Nike"
                              onclick="myCatSelect(this)"
                            />
                            Nike
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="21"
                              value="Puma"
                              onclick="myCatSelect(this)"
                            />
                            Puma
                          </p>
                        </li>
                        <li>
                          <p>
                            <input
                              type="checkbox"
                              id="22"
                              value="Adidas"
                              onclick="myCatSelect(this)"
                            />
                            Adidas
                          </p>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <p>
                    <span class="plus"></span>
                    <input
                      type="checkbox"
                      id="23"
                      value="Computers"
                      onclick="myCatSelect(this)"
                    />
                    Computers
                  </p>
                  <ul>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="24"
                          value="Accessories"
                          onclick="myCatSelect(this)"
                        />
                        Accessories
                      </p>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="25"
                          value="Storage"
                          onclick="myCatSelect(this)"
                        />
                        Storage
                      </p>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="26"
                          value="Printers"
                          onclick="myCatSelect(this)"
                        />
                        Printers
                      </p>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="27"
                          value="Components"
                          onclick="myCatSelect(this)"
                        />
                        Network Components
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p>
                    <span class="plus"></span>
                    <input
                      type="checkbox"
                      id="28"
                      value=" Headphones & Headsets"
                      onclick="myCatSelect(this)"
                    />
                    Headphones & Headsets
                  </p>
                  <ul>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="29"
                          value="Accessories"
                          onclick="myCatSelect(this)"
                        />
                        Accessories
                      </p>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="30"
                          value="Storage"
                          onclick="myCatSelect(this)"
                        />
                        Storage
                      </p>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="31"
                          value="Printers"
                          onclick="myCatSelect(this)"
                        />
                        Printers
                      </p>
                    </li>
                    <li>
                      <p>
                        <input
                          type="checkbox"
                          id="32"
                          value="Components"
                          onclick="myCatSelect(this)"
                        />
                        Network Components
                      </p>
                    </li>
                  </ul>
                </li>
                <li>
                  <p>
                    <input
                      type="checkbox"
                      id="33"
                      value="Food"
                      onclick="myCatSelect(this)"
                    />
                    Food
                  </p>
                </li>
                <li>
                  <p>
                    <input
                      type="checkbox"
                      id="34"
                      value="Books"
                      onclick="myCatSelect(this)"
                    />
                    Books
                  </p>
                </li>
                <li>
                  <p>
                    <input
                      type="checkbox"
                      id="35"
                      value="Fashion"
                      onclick="myCatSelect(this)"
                    />
                    Fashion
                  </p>
                </li>
                <li>
                  <p>
                    <input
                      type="checkbox"
                      id="36"
                      value="Infant Toys "
                      onclick="myCatSelect(this)"
                    />
                    Infant Toys
                  </p>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="bootom-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="btn-menu">
            <button class="btn">
              <span></span>
              <span></span>
              <span></span>
            </button>
            All Category
          </div>
        </div>
        <div class="col-lg-9">
          <ul class="hot-links">
            <li>
              <span>hot</span>
              <a href="#">Daniel Wellington watch - Hot trend 2016</a>
            </li>
            <li><span>hot</span> <a href="#">Haki Women Fashion 50% OFF</a></li>
            <li><span>hot</span> <a href="#">Hot deal from Printer</a></li>
            <li>
              <span>hot</span> <a href="#">Samsung Smart phone 20% OFF</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="site-menu">
        <div class="main-list">
          <ul class="main-ul fixed-height">
            <li class="main-list-li list-cat">
              <a class="main-a" href="#">
                <span class="cat-icon">
                  <i class="icofont-smart-phone"></i>
                </span>
                <span> Smart Phones </span>
                <span class="right-icon">
                  <i class="icofont-thin-right"></i>
                </span>
              </a>
              <div class="cat-popup-list">
                <div class="menue-block">
                  <ul>
                    <li>
                      <a href="#" class="item-branch"> Iphone </a>
                      <ul class="itemsubmenu">
                        <li><a href="#">Iphone 5</a></li>
                        <li><a href="#">Iphone 5s</a></li>
                        <li><a href="#">Iphone 6</a></li>
                        <li><a href="#">Iphone 6s</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="item-branch"> SamSung </a>
                      <ul class="itemsubmenu">
                        <li><a href="#"> Galaxy S6 </a></li>
                        <li><a href="#"> Galaxy S7 </a></li>
                        <li><a href="#"> Galaxy S6 </a></li>
                        <li><a href="#"> Galaxy S6</a></li>
                      </ul>
                    </li>
                    <li><a href="#" class="item-branch"> SONY </a></li>
                    <li><a href="#" class="item-branch"> HUWAEI </a></li>
                    <li>
                      <a href="#" class="item-branch"> OPPO </a>
                      <ul class="itemsubmenu">
                        <li><a href="#">Oppo f1s</a></li>
                        <li><a href="#">Oppo neo 7</a></li>
                        <li><a href="#">Oppo neo 9</a></li>
                        <li><a href="#">Oppo neo 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#" class="item-branch"> Xiaomi </a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="main-list-li">
              <a class="main-a" href="#">
                <span class="cat-icon">
                  <i class="icofont-wheelchair"></i>
                </span>
                <span> Furniture </span>
                <span class="right-icon">
                  <i class="icofont-thin-right"></i>
                </span>
              </a>
              <div class="menue-content">
                <div class="row">
                  <div class="col-3">
                    <a href="#" class="prod-box">
                      <img
                        src="assets/images/fur-1.jpg"
                        alt="ads"
                        class="img-fluid"
                      />
                      <h4>Driven Backpack K</h4>
                      <p>200,00 $</p>
                    </a>
                  </div>
                  <div class="col-3">
                    <a href="#" class="prod-box">
                      <img
                        src="assets/images/fur-2.jpg"
                        alt="ads"
                        class="img-fluid"
                      />
                      <h4>Driven Backpack K</h4>
                      <p>200,00 $</p>
                    </a>
                  </div>
                  <div class="col-3">
                    <a href="#" class="prod-box">
                      <img
                        src="assets/images/fur-3.jpg"
                        alt="ads"
                        class="img-fluid"
                      />
                      <h4>Driven Backpack K</h4>
                      <p>200,00 $</p>
                    </a>
                  </div>
                  <div class="col-3">
                    <a href="#" class="prod-box">
                      <img
                        src="assets/images/fur-3.jpg"
                        alt="ads"
                        class="img-fluid"
                      />
                      <h4>Driven Backpack K</h4>
                      <p>200,00 $</p>
                    </a>
                  </div>
                  <div class="col-3">
                    <a href="#" class="prod-box">
                      <img
                        src="assets/images/fur-1.jpg"
                        alt="ads"
                        class="img-fluid"
                      />
                      <h4>Driven Backpack K</h4>
                      <p>200,00 $</p>
                    </a>
                  </div>
                  <div class="col-3">
                    <a href="#" class="prod-box">
                      <img
                        src="assets/images/fur-2.jpg"
                        alt="ads"
                        class="img-fluid"
                      />
                      <h4>Driven Backpack K</h4>
                      <p>200,00 $</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- END BASIC HEADER -->
<div class="products-section">
  <div class="container">
    <div class="head">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <h2>FLASH SALE</h2>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="tab_content active" id="tab_content_1">
        <div class="owl-carousel owl-theme tabcontent-owl">
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-3.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <div class="data">
                <a href="product.html" class="title">
                  Philips Sonicare FlexCare Black
                </a>
                <ul>
                  <li><i class="icofont-star"></i></li>
                  <li><i class="icofont-star"></i></li>
                  <li><i class="icofont-star"></i></li>
                  <li><i class="icofont-star"></i></li>
                  <li><i class="icofont-star"></i></li>
                </ul>
                <div class="price">
                  <span class="old"> 136.00$ </span>
                  <span class="new"> 100.00$ </span>
                </div>
                <a
                  href="#"
                  class="add-to-cart"
                  data-target="#cart-product-modal"
                >
                  <i class="icofont-opencart"></i> Add To Cart
                </a>
                <span class="discount"> 26 % </span>
                <div class="overlay">
                  <div class="actions">
                    <a href="#"> <i class="icofont-heart"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-4.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-1.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-2.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="tab_content_2">
        <div class="owl-carousel owl-theme tabcontent-owl">
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-3.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-4.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-1.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-2.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="products-section">
  <div class="container">
    <div class="head">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-5">
          <h2>BEST SELLERS</h2>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="tab_content active" id="tab_content_7">
        <div class="owl-carousel owl-theme tabcontent-owl">
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-3.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-4.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-1.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ring-2.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_content" id="tab_content_8">
        <div class="owl-carousel owl-theme tabcontent-owl">
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ad-2.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ad-3.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ad-3.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="product-card">
              <div class="img-box">
                <img
                  src="assets/images/ad-4.jpg"
                  alt="product"
                  class="img-fluid"
                />
              </div>
              <h3>Philips Sonicare FlexCare Black</h3>
              <ul>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
                <li><i class="icofont-star"></i></li>
              </ul>
              <div class="price">
                <span class="old"> 136.00$ </span>
                <span class="new"> 100.00$ </span>
              </div>
              <a href="#" class="add-to-cart" data-target="#cart-product-modal">
                <i class="icofont-opencart"></i> Add To Cart
              </a>
              <span class="discount"> 26 % </span>
              <div class="overlay">
                <div class="actions">
                  <a href="#"> <i class="icofont-heart"></i> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="new-blocks">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="new-block img-hover">
          <a href="#">
            <img src="assets/images/ad-1.jpg" alt="ad" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="new-block img-hover">
          <a href="#">
            <img src="assets/images/ad-2.jpg" alt="ad" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="new-block img-hover">
          <a href="#">
            <img src="assets/images/ad-3.jpg" alt="ad" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="new-block img-hover">
          <a href="#">
            <img src="assets/images/ad-4.jpg" alt="ad" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="new-block img-hover">
          <a href="#">
            <img src="assets/images/ad-5.jpg" alt="ad" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="new-block img-hover">
          <a href="#">
            <img src="assets/images/ad-6.jpg" alt="ad" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="new-block img-hover">
          <a href="#">
            <img src="assets/images/ad-7.jpg" alt="ad" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="new-block img-hover">
          <a href="#">
            <img src="assets/images/ad-8.jpg" alt="ad" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- START BASIC FOOTER  -->
<div class="footer-links">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
        <h3>ABOUT MARKET</h3>
        <ul>
          <li><a href="#"> About </a></li>
          <li><a href="#"> UsContactPrivacy </a></li>
          <li><a href="#"> PolicySite </a></li>
          <li><a href="#"> Map </a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <h3>MAKE MONEY WITH US</h3>
        <ul>
          <li><a href="#"> Martketplace </a></li>
          <li><a href="#"> Compensation </a></li>
          <li><a href="#"> FirstMy </a></li>
          <li><a href="#"> AccountReturn </a></li>
          <li><a href="#"> PolicyAffiliate </a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <h3>PAYMENT & SHIPPING</h3>
        <ul>
          <li><a href="#"> Terms of Use </a></li>
          <li><a href="#"> Payment Methods </a></li>
          <li><a href="#"> Shipping Methods </a></li>
          <li><a href="#"> Locations We Ship To </a></li>
          <li><a href="#"> Estimated Delivery Time </a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <h3>LET US HELP YOU</h3>
        <ul>
          <li><a href="#"> Join Free </a></li>
          <li><a href="#"> Blog </a></li>
          <li><a href="#"> Faqs </a></li>
          <li><a href="#"> Store Location </a></li>
          <li><a href="#"> Shop By Brands </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo_amazon.png" alt="img" class="img-fluid" />
    </div>
  </div>
</div>

<div class="copy-right">
  <div class="container">
    <h4>
      Designed by <a href="#"> awamer. </a> Copyright
      <i class="icofont-copyright"></i> 2006 - 2017. All Rights Reserved.
      <img src="assets/images/icon-footer.png" alt="img" class="img-fluid" />
    </h4>
  </div>
</div>
<!-- END BASIC FOOTER  -->

<!-- DELETE MODAL  -->
<div
  class="modal fade"
  id="delete-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="close-modal" data-dismiss="modal">
          <i class="icofont-close-line"></i>
        </div>
      </div>
      <div class="modal-body">
        <h4>
          Are you sure you would like to remove this item from the shopping
          cart?
        </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-modal" data-dismiss="modal">
          cancel
        </button>
        <button type="button" class="btn-modal">ok</button>
      </div>
    </div>
  </div>
</div>

<!-- CART PRODUCT MODAL  -->
<div
  class="modal fade"
  id="cart-product-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Confirmable Information</h2>
      </div>
      <div class="modal-body">
        <h3>You have added <a href="#"> Philips Sonicare </a> to cart</h3>
        <div class="img-box">
          <img src="assets/images/ring-3.jpg" alt="product" class="img-fluid" />
        </div>
        <h5>There are <span> 10 </span> Items in your cart</h5>
        <p>Cart Subtotal: <span> $1.00 </span></p>
        <a href="#" class="view-cart"> View Cart </a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn continue-btn" data-dismiss="modal">
          <span> Continue Shopping </span> ( <span id="count-num"> 10 </span> )
        </button>
        <button type="button" class="btn checkout-btn">Go to Checkout</button>
      </div>
    </div>
  </div>
</div>

<!-- PRODUCT DETAILS  MODAL  -->
<div
  class="modal fade"
  id="product-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-5">
              <div class="proSlider">
                <div id="owl-hash-URL2" class="owl-carousel owl-hash-slider">
                  <div class="item" data-hash="1">
                    <img src="assets/images/ring-1.jpg" class="img-fluid" />
                  </div>
                  <div class="item" data-hash="2">
                    <img src="assets/images/ring-2.jpg" class="img-fluid" />
                  </div>
                  <div class="item" data-hash="3">
                    <img src="assets/images/ring-3.jpg" class="img-fluid" />
                  </div>
                  <div class="item" data-hash="4">
                    <img src="assets/images/ring-4.jpg" class="img-fluid" />
                  </div>
                </div>

                <div class="owl-hash-nav">
                  <div class="item">
                    <a href="#1">
                      <img src="assets/images/ring-1.jpg" class="img-fluid" />
                    </a>
                  </div>
                  <div class="item">
                    <a href="#2">
                      <img src="assets/images/ring-2.jpg" class="img-fluid" />
                    </a>
                  </div>
                  <div class="item">
                    <a href="#3">
                      <img src="assets/images/ring-3.jpg" class="img-fluid" />
                    </a>
                  </div>
                  <div class="item">
                    <a href="#4">
                      <img src="assets/images/ring-4.jpg" class="img-fluid" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7">
              <div class="product-details">
                <h3>Baguette Diamond Rhodium Over Brass</h3>
                <p><label> Price : </label> <span> $136.00 </span></p>
                <p>
                  <label title="availabilty"> In stock : </label>
                  <span> 10 </span>
                </p>
                <p>
                  <label> SKU :</label>
                  <span> Baguette Diamond Rhodium Over Brass </span>
                </p>
                <h4>Features</h4>
                <ul>
                  <li>
                    1.6 GHz dual-core Intel Core i5 (Turbo Boost up to 2.7 GHz)
                    with 3 MB shared L3 cachet
                  </li>
                  <li>
                    8 GB of 1600 MHz LPDDR3 RAM; 256 GB PCIe-based flash storage
                  </li>
                  <li>
                    13.3-Inch (diagonal) LED-backlit Glossy Widescreen Display,
                    1440 x 900 resolution
                  </li>
                  <li>Intel HD Graphics 6000</li>
                  <li>OS X El Capitan, Up to 12 Hours of Battery Life</li>
                  <li>1 Year Warranty</li>
                </ul>

                <div class="actions">
                  <div class="counter shrink">
                    <button class="btn plus">
                      <i class="icofont-plus"></i>
                    </button>
                    <button class="btn minus">
                      <i class="icofont-minus"></i>
                    </button>
                    <span class="num">0</span>
                    <input
                      class="product_num"
                      name="product_num"
                      value="0"
                      type="hidden"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="ship-box">
                <img src="assets/images/bg-1.jpg" alt="bg" class="img-fluid" />
                <div class="secription">
                  <div class="box">
                    <div class="icon">
                      <i class="icofont-vehicle-delivery-van"></i>
                    </div>
                    <div class="data">
                      <h3>Free Shipping</h3>
                      <h6>On all orders $199.00</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="ship-box">
                <img src="assets/images/bg-2.jpg" alt="bg" class="img-fluid" />
                <div class="secription">
                  <div class="box">
                    <div class="icon">
                      <i class="icofont-money-bag"></i>
                    </div>
                    <div class="data">
                      <h3>90 Day</h3>
                      <h6>Money Come Black</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="ship-box">
                <img src="assets/images/bg-3.jpg" alt="bg" class="img-fluid" />
                <div class="secription">
                  <div class="box">
                    <div class="icon"><i class="icofont-safety"></i></div>
                    <div class="data">
                      <h3>Safe Shopping</h3>
                      <h6>Guarantee 100%</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
